# 01 - Inspecting Data

In [21]:
import pandas as pd
import numpy as np
df = pd.read_csv('../datasets/intel.csv')

In [3]:
df.head(3)

         Date       Open       High        Low      Close
0  10/10/2017  39.930000  39.950001  39.380001  39.650002
1  11/10/2017  39.480000  39.669998  39.060001  39.299999
2  12/10/2017  39.349998  39.389999  38.980000  39.189999

In [4]:
df.describe()

             Open        High         Low       Close
count  253.000000  253.000000  253.000000  253.000000
mean    48.423360   48.964427   47.859881   48.429565
std      4.039893    4.085279    3.966219    4.013455
min     39.349998   39.389999   38.980000   39.189999
25%     45.619999   46.070000   45.119999   45.540001
50%     48.099998   48.759998   47.480000   48.099998
75%     51.689999   52.169998   51.000000   51.720001
max     57.009998   57.599998   56.779999   57.080002

In [6]:
df.shape

(253, 5)

In [7]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close'], dtype='object')

In [10]:
#recort
df2 = df[['Open' ,'Close']]
df2.head(3)

        Open      Close
0  39.930000  39.650002
1  39.480000  39.299999
2  39.349998  39.189999

# 02 - Filter Data

In [20]:
# eh possivel fazer filtragens aninhadas com uso de &(and) e | (or)
#df[(df.Open > 50) & (df.High >50)].head()
df[df.Open > 50].head()

           Date       Open       High        Low      Close
96   28/02/2018  50.180000  50.340000  49.279999  49.290001
100  06/03/2018  50.160000  51.330002  50.150002  50.709999
101  07/03/2018  50.180000  51.490002  50.099998  51.320000
102  08/03/2018  51.790001  52.080002  50.470001  50.740002
103  09/03/2018  51.270000  52.299999  51.000000  52.189999

In [23]:
counties = ['Antrim','Armagh','Carlow','Cavan','Clare','Cork','Derry','Donegal','Down','Dublin','Fermanagh','Galway',
            'Kerry','Kildare','Kilkenny','Laois','Leitrim','Limerick','Longford','Louth','Mayo','Meath','Monaghan',
            'Offaly','Roscommon','Sligo','Tipperary','Tyrone','Waterford','Westmeath','Wexford','Wicklow']

# Create a string with the value 'IRELAND'
country = "IRELAND"

# Create new dictionary
ireland = {'Country':country, 'County':counties}

# Create a DataFrame from the dictionary
df3 = pd.DataFrame(ireland)

df3.head()

   Country  County
0  IRELAND  Antrim
1  IRELAND  Armagh
2  IRELAND  Carlow
3  IRELAND   Cavan
4  IRELAND   Clare

In [28]:
nome_colunas = ['App', 'Avaliacao', 'Reviews','Tamanho', 'N. Downloads', 'Tipo', 'Preco', 'Ultima Atualizacao']
df4 = pd.read_csv('../datasets/edited_googleplaystore_dataset.csv', header=None, names=nome_colunas)
df4.head()

,App,Avaliacao,Reviews,Tamanho,N. Downloads,Tipo,Preco,Ultima Atualizacao
0,Photo Editor & Candy Camera & Grid & ScrapBook,4.1,159,19M,"10,000+",Free,0,"January 7, 2018"
1,Coloring book moana,3.9,967,14M,"500,000+",Free,0,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",4.7,87510,8.7M,"5,000,000+",Free,0,"August 1, 2018"
3,Sketch - Draw & Paint,4.5,215644,25M,"50,000,000+",Free,0,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,4.3,967,2.8M,"100,000+",Free,0,"June 20, 2018"

In [ ]:
df4.groupby([''])

['',
 "import pandas as pd\n\ndf = pd.read_csv('../datasets/intel.csv')",
 'df',
 'df.head(3)',
 'df.describe()',
 'df.shape()',
 'df.shape',
 'df.columns',
 "#recort\ndf2 = df[['Open'],['Close']] \ndf2",
 "#recort\ndf2 = df[['Open' ,'Close']] \ndf2",
 "#recort\ndf2 = df[['Open' ,'Close']]\ndf2.head(3)",
 'df.Open > 38',
 'df[df.Open > 38]',
 'df[df.Open > 38].head()',
 'df[df.Open > 40].head()',
 'df[df.Open > 50].head()',
 '# eh possivel fazer filtragens aninhadas com uso de &(and) e | (or)\n#df[df.Open > 50].head()\ndf[df.Open > 50 & df.High >50].head()',
 '# eh possivel fazer filtragens aninhadas com uso de &(and) e | (or)\n#df[df.Open > 50].head()\ndf[[df.Open > 50 & df.High >50]].head()',
 '# eh possivel fazer filtragens aninhadas com uso de &(and) e | (or)\n#df[df.Open > 50].head()\ndf[(df.Open > 50) & (df.High >50)].head()',
 '# eh possivel fazer filtragens aninhadas com uso de &(and) e | (or)\n#df[(df.Open > 50) & (df.High >50)].head()\ndf[df.Open > 50].head()',
 '# eh possivel fazer filtragens aninhadas com uso de &(and) e | (or)\n#df[(df.Open > 50) & (df.High >50)].head()\ndf[df.Open > 50].head()',
 "import pandas as pd\nimport numpy as np\ndf = pd.read_csv('../datasets/intel.csv')",
 'counties = [\'Antrim\',\'Armagh\',\'Carlow\',\'Cavan\',\'Clare\',\'Cork\',\'Derry\',\'Donegal\',\'Down\',\'Dublin\',\'Fermanagh\',\'Galway\',\n            \'Kerry\',\'Kildare\',\'Kilkenny\',\'Laois\',\'Leitrim\',\'Limerick\',\'Longford\',\'Louth\',\'Mayo\',\'Meath\',\'Monaghan\',\n            \'Offaly\',\'Roscommon\',\'Sligo\',\'Tipperary\',\'Tyrone\',\'Waterford\',\'Westmeath\',\'Wexford\',\'Wicklow\']\n\n# Create a string with the value \'IRELAND\'\ncountry = "IRELAND"\n\n# Create new dictionary\nireland = {\'Country\':country, \'County\':counties}\n\n# Create a DataFrame from the dictionary\ndf3 = pd.DataFrame(ireland)\n\ndf3',
 'counties = [\'Antrim\',\'Armagh\',\'Carlow\',\'Cavan\',\'Clare\',\'Cork\',\'Derry\',\'Donegal\',\'Down\',\'Dublin\',\'Fermanagh\',\'Galway\',\n            \'Kerry\',\'Kildare\',\'Kilkenny\',\'Laois\',\'Leitrim\',\'Limerick\',\'Longford\',\'Louth\',\'Mayo\',\'Meath\',\'Monaghan\',\n            \'Offaly\',\'Roscommon\',\'Sligo\',\'Tipperary\',\'Tyrone\',\'Waterford\',\'Westmeath\',\'Wexford\',\'Wicklow\']\n\n# Create a string with the value \'IRELAND\'\ncountry = "IRELAND"\n\n# Create new dictionary\nireland = {\'Country\':country, \'County\':counties}\n\n# Create a DataFrame from the dictionary\ndf3 = pd.DataFrame(ireland)\n\ndf3.head()',
 "df4 = pd.read_csv('../datasets/edited_googleplaystore_dataset.csv')\ndf4.head()",
 "df4 = pd.read_csv('../datasets/edited_googleplaystore_dataset.csv', header=None)\ndf4.head()",
 "nome_colunas = ['App', 'Avaliacao', 'Reviews','Tamanho', 'N. Downloads', 'Tipo', 'Preco', 'Ultima Atualizacao']\ndf4 = pd.read_csv('../datasets/edited_googleplaystore_dataset.csv', header=None)\ndf4.head()",
 "nome_colunas = ['App', 'Avaliacao', 'Reviews','Tamanho', 'N. Downloads', 'Tipo', 'Preco', 'Ultima Atualizacao']\ndf4 = pd.read_csv('../datasets/edited_googleplaystore_dataset.csv', header=None, column_names=nome_colunas)\ndf4.head()",
 "nome_colunas = ['App', 'Avaliacao', 'Reviews','Tamanho', 'N. Downloads', 'Tipo', 'Preco', 'Ultima Atualizacao']\ndf4 = pd.read_csv('../datasets/edited_googleplaystore_dataset.csv', header=None, names=nome_colunas)\ndf4.head()",
 "get_ipython().run_line_magic('env', '')",
 "get_ipython().run_line_magic('env', '__PYVENV_LAUNCHER__')",
 "get_ipython().run_line_magic('who', 'df')",
 "get_ipython().run_line_magic('who', '')",
 "get_ipython().run_line_magic('who', 'df')",
 "get_ipython().run_line_magic('whos', '')",
 "get_ipython().run_line_magic('who_ls', '')",
 "get_ipython().run_line_magic('system', 'date')",
 "get_ipython().run_line_magic('system', '')",
 "get_ipython().run_line_magic('system', 'date')",
 "get_ipython().run_line_magic('system', 'time')",
 "get_ipython().run_line_magic('system', 'date')",
 "get_ipython().run_cell_magic('bash', '', '')",
 "get_ipython().run_cell_magic('bash', 'ls', '')",
 "get_ipython().run_cell_magic('bash', '', 'ls\\n')",
 "get_ipython().system('ls')",
 "get_ipython().system('pwd')",
 '_ih[-5:]',
 '_ih']