# 01 - Inspecting Data

In [1]:
import pandas as pd

df = pd.read_csv('../datasets/intel.csv')

In [3]:
df.head(3)

         Date       Open       High        Low      Close
0  10/10/2017  39.930000  39.950001  39.380001  39.650002
1  11/10/2017  39.480000  39.669998  39.060001  39.299999
2  12/10/2017  39.349998  39.389999  38.980000  39.189999

In [4]:
df.describe()

             Open        High         Low       Close
count  253.000000  253.000000  253.000000  253.000000
mean    48.423360   48.964427   47.859881   48.429565
std      4.039893    4.085279    3.966219    4.013455
min     39.349998   39.389999   38.980000   39.189999
25%     45.619999   46.070000   45.119999   45.540001
50%     48.099998   48.759998   47.480000   48.099998
75%     51.689999   52.169998   51.000000   51.720001
max     57.009998   57.599998   56.779999   57.080002

In [6]:
df.shape

(253, 5)

In [7]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close'], dtype='object')

In [10]:
#recort
df2 = df[['Open' ,'Close']]
df2.head(3)

        Open      Close
0  39.930000  39.650002
1  39.480000  39.299999
2  39.349998  39.189999